<h1><%= t ".title" %></h1>

<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <div>
    <a href="/products/<%= product.id %>"
        <%= link_to product.name, product %>
    </a>
      Count: <%= product.inventory_count %>
    </div>
  <% end %>
</div>
